@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

:root {
  --main-color: #100e3d;
  --sec-color: #4940ff;
  --grey: #f3f6fb;
}

body {
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  padding: 1.5rem;
  padding-left: 0;
}

.side-nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav .logo {
  color: #fff;
  margin-bottom: 3rem;
}

.side-nav .auctions,
.side-nav .vehicles {
  width: 100%;
  margin-bottom: 2rem;
}

.side-nav .auctions .nav-title,
.side-nav .vehicles .nav-title {
  color: #a8acbc;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.side-nav .auctions li,
.side-nav .vehicles li {
  list-style: none;
  padding: 0 1.5rem;
  margin-bottom: .5rem;
}
.side-nav .vehicles .nav-active{
    border-left: 4px solid var(--sec-color);
}

.side-nav .vehicles .nav-active a{
  background-color: var(--sec-color);
  border-radius: .4rem;
}

.side-nav .auctions li a,
.side-nav .vehicles li a {
  display: flex;
  gap: 1.5rem;
  color: #a8acbc;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;

  /* border: 2px solid #fff; */
}

.side-nav .auctions li a img,
.side-nav .vehicles li a img {
  width: 2rem;
  height: 2rem;
}

.sell-car{
  background-color: #29276F;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
  position: relative;
  margin-top: auto;
  border-radius: .6rem;
}

.sell-car .cart-icon{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3rem;
  background-color: var(--main-color);
  border-radius: 50%;
}

.sell-car .cart-icon i{
  padding: 2rem;
  font-size: 1.4rem;
  background-color: #29276F;
  border-radius: 50%;
  margin: .5rem;
}

.sell-car p{
  font-size: 1.6rem;
}

.sell-car p:nth-child(2){
  opacity: .6;
}

.sell-car button{
  background-color: var(--sec-color);
  height: 4rem;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: .6rem;
  margin-bottom: 1rem;
}

/* RIGHT COL */

.right-col {
  width: 80%;
  background-color: #fff;
  border-radius: 2rem;
  background-color: var(--grey);
  overflow: hidden;
}

.right-col nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #fff;
}

.header {
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-btns {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.right-col .search {
  display: flex;
  width: 20rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 40rem;
  background-color: var(--grey);
}

.search i,
.notification i {
  display: grid;
  place-content: center;
  height: 3rem;
  width: 3rem;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 40rem;
}

.right-col .search i {
  background-color: var(--sec-color);
}

.notification i {
  background-color: var(--grey);
  color: var(--main-color);
}

.user {
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  border-radius: 40rem;
}

.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-main {
  padding: 2rem;
}

.active {
  display: flex;
  justify-content: space-between;
}

.active .status {
  display: flex;
  gap: 1.5rem;
  padding: 0 1.5rem;
  background-color: #fff;
  width: max-content;
  border-radius: 40rem;
}

.active .status li {
  list-style: none;
  height: 3.5rem;
  display: grid;
  place-content: center;
}

.active .status li a {
  color: #a8acbc;
  text-decoration: none;
  font-size: 1.2rem;
}

.active .status li:first-child {
  border-bottom: 2px solid var(--sec-color);
}

.active .status li:first-child a {
  color: var(--sec-color);
}

.active .filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
  height: 3.5rem;
  background-color: #eeeff4;
  border-radius: 40rem;
}

.active .filter i,
.active .filter p {
  font-size: 1.2rem;
}

/* Display */
.display{
  background-color: #fff;
  display: flex;
  margin-top: 2rem;
  border-radius: 1rem;
}

.left-dis{
  width: 40%;
  /* border: 1px solid black; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-dis .car-main{
  width: 40rem;
  transform: translateX(-2rem);
}

.left-dis .car-color{
  width: 100%;
  display: flex;
  gap: 1rem;
}

.left-dis .car-color img{
  width: 12rem;
  flex: 1;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 1rem;
}

.left-dis .documents{
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 1rem;
  margin-top: 2rem;
}

.left-dis .documents h1{
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-dis .documents .docs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.left-dis .documents .docs div{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-dis .documents .docs div i{
  font-size: 1.6rem;
  color: var(--sec-color);
}

.left-dis .documents .docs div p{
  font-size: 1.4rem;
  font-weight: 600;
}

/* RIGHT DISPLAY */
.right-dis{
  width: 60%;
  padding: 2rem;
}

.right-dis .brand{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-dis .brand img{
  width: 3rem;
  border: 1px solid grey;
  border-radius: .4rem;
  padding: .4rem;
}

.right-dis .brand p, .brand-name2, .order-det{
  font-size: 1.4rem;
  font-weight: 500;
}

.brand-name2{
  margin-top: 1rem;
}

.order-det{
  opacity: .5;
}

.bid-det{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: .4rem;
  margin-top: 1rem;
}

.bid-det div p:first-child{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--main-color);
}

.bid-det div p:last-child{
  font-size: 1.2rem;
  font-weight: 500;
  opacity: .5;
}

.bid-det i{
  transform: rotate(90deg);
}

.auction-info{
  margin-top: 1rem;
}

.auction-info div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: .8rem;
  
}

.auction-info div p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--main-color);
}

.auction-info div p:first-child{
  opacity: .5;
}

.place-bid{
  margin-top: 1.5rem;
  height: 5.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.place-bid input{
  width: 80%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: .6rem;
  outline: none;
  padding: 1rem;
}

.placeholder{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.placeholder p{
  font-size: 1.2rem;
  color: var(--main-color);
  font-weight: 500;
}

.placeholder p:first-child{
  opacity: .5;
}

.place-bid button{
  height: 100%;
  background-color: var(--sec-color);
  border: none;
  outline: none;
  color: #fff;
  border-radius: .6rem;
  width: 18%;
}

@media (max-width: 430px) {
  body, .right-col{
    overflow-y: scroll;
  }

  main{
    padding: 0;
  }

  .side-nav{
    display: none;
  }

  .right-col{
    width: 100%;
    border-radius: 0;
  }

  .right-col nav .nav-btns{
    display: none;
  }

  .right-main{
    padding: 1rem;
  }

  .active .filter{
    display: none;
  }

  .display{
    flex-direction: column;
  }

  .left-dis .car-color img{
    width: 8rem;
  }

  .left-dis, .right-dis{
    width: 100%;
  }

  .right-dis .brand p, .brand-name2, .order-det{
    font-size: 1.2rem;
  }

  .auction-info div p{
    font-size: 1.2rem;
  }

  .bid-det div p:first-child{
    font-size: 1.2rem;
  }
  
  .bid-det div p:last-child{
    font-size: 1rem;
  }

  .left-dis, .right-dis{
    padding: 1rem;
  }

  .place-bid input{
    width: 70%;
  }

  .place-bid button{
    width: 28%;
  }
}